@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;

}

.grilla{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
                        "nav"
                        "main"
                        "footer";
}

.header{
    grid-area: nav;
    position: sticky;
    top: 0em;
    width: 100vw;
    padding: 1.5em 0 1.5em 0;
    z-index: 2;
}

.header-img{
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        width: 10em;
    }
}

.main{
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;


    .contener, .container2, .container3, .container4{
        height: 100vh;
        width: 100vw;
    }

    .contener{
        grid-area: main;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .text{
        text-align: center;
        color: white;
    }

    .container2{
        display: flex;
        justify-content: center;
        align-items: center;

        .square {
            background-color: white;
            height: 100vh;
            width: 50vw;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            z-index: 2;
        }

        .square2{
            background-color: white;
            height: 100vh;
            width: 50vw;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            z-index: 2;
        }

        .half-circle {
            width: 10em;
            height: 20em;
            background-color: #bd0029;
            border-top-left-radius: 199px;
            border-bottom-left-radius: 199px;
            border-bottom: 0;
        }

        .half-circle2 {
            width: 10em;
            height: 20em;
            background-color: #bd0029;
            border-top-right-radius: 199px;
            border-bottom-right-radius: 199px;
            border-bottom: 0;
        }
    }

    .container3 {
        color: white;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        h2{
            width: 60%;
            margin-top: 5rem;
        }

        img{
            width: 18em;
        }
    }

    .container4 {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;

        .div1 { grid-area: 2 / 2 / 3 / 3; }
        .div2 { grid-area: 5 / 1 / 6 / 2; }
        .div3 { grid-area: 2 / 5 / 3 / 6; }
        .div4 { grid-area: 5 / 6 / 6 / 7; }
        .div5 { grid-area: 4 / 3 / 5 / 4; }

        
        img{
            border-radius: 10px;
            z-index: 1;
            width: 20em;
        }
    }

}

a {
    color: #555;
    font-weight: 400;
  }
  
  .pSection {
    position: relative;
    padding-top: 200px;
    padding-bottom: 300px;
  }
  
  .container {
    padding: 20px;
    margin: 0 auto;
    max-width: 1070px;
    position: relative;
    z-index: 1;
  }
  
  .pContent {
    width: 65%;
    background-color: rgba(78,152,21,0.8);
    color: white;
    padding: 40px 60px;
  }
  
  .pImage {
    width: 70%;
    position: absolute;
    top: 0;
    right: 0;
    max-height: 900px;
  }
  


